server
{
    listen 80;
    server_name api.xl1125.cn;
  

    #PHP-INFO-START  PHP引用配置，可以注释或修改
    include enable-php-00.conf;
    #PHP-INFO-END
    
    #REWRITE-START URL重写规则引用,修改后将导致面板设置的伪静态规则失效
    include /www/server/panel/vhost/rewrite/api.xl1125.cn.conf;
    #REWRITE-END

location /wss/  {   
     proxy_pass http://127.0.0.1:5261;       #通过配置端口指向部署websocker的项目
     proxy_http_version 1.1;    
     proxy_set_header Upgrade $http_upgrade;    
     proxy_set_header Connection "Upgrade";    
     proxy_set_header X-real-ip $remote_addr;
     proxy_set_header X-Forwarded-For $remote_addr;
     }
    
    location / {  
    #nginx 配置文件 server
set $cors_origin "";
if ($http_origin ~* "^http://www..xl1125.cn$") {
    set $cors_origin $http_origin;
}
#允许跨域

	add_header 'Access-Control-Allow-Origin' $http_origin;
	add_header 'Access-Control-Allow-Credentials' 'true';
	add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
	add_header 'Access-Control-Allow-Headers' 'DNT,web-token,app-token,Authorization,Accept,Origin,Keep-Alive,User-Agent,X-Mx-ReqToken,X-Data-Type,X-Auth-Token,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,X-Token';
	add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
# 	if ($request_method = 'OPTIONS') {
# 		add_header 'Access-Control-Max-Age' 1728000;
# 		add_header 'Content-Type' 'text/plain; charset=utf-8';
# 		add_header 'Content-Length' 0;
# 		return 204;
# 	}

#add_header 'Access-Control-Allow-Credentials' true; #是否携带cookie
# add_header 'Access-Control-Allow-Headers' 'X-Requested-With,token,Content-Type,Access-Token,x-token';#允许的header名称
# add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';#允许的请求方法
# add_header 'Access-Control-Max-Age' 86400;#预检测请求的缓存时间另外浏览器控制面板的Disable cache不勾选才可生效
#nginx 伪静态 location
# if ($request_method = 'OPTIONS') {#拦截预检测请求
#   return 200; 
# }
if ($request_method = 'OPTIONS') {
        return 204;
    }

proxy_pass http://127.0.0.1:5261;
proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_connect_timeout 5;
}

    
    #禁止访问的文件或目录
    location ~ ^/(\.user.ini|\.htaccess|\.git|\.svn|\.project|LICENSE|README.md)
    {
        return 404;
    }
    
    #一键申请SSL证书验证目录相关设置
    location ~ \.well-known{
        allow all;
    }
    
    
    location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
    {
        expires      30d;
        error_log /dev/null;
        access_log /dev/null;
    }
    
    location ~ .*\.(js|css)?$
    {
        expires      12h;
        error_log /dev/null;
        access_log /dev/null; 
    }
    access_log  /www/wwwlogs/api.xl1125.cn.log;
    error_log  /www/wwwlogs/api.xl1125.cn.error.log;
}