<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztc.strayanimal.mapper.AnswerInfoMapper">

    <!--根据评论ID查回复-->
    <select id="selectAnswerInfo" resultType="com.ztc.strayanimal.entiy.AnswerInfo">
        SELECT a.answer_id, a.comment_id, a.answer_user_id, a.to_be_answer_user_id, a.answer_text, a.create_time
        FROM answer_info AS a
        WHERE a.is_delete = 0
          and a.comment_id = #{commentId}
    </select>

    <!--逻辑删除-->
    <update id="deleteAnswerInfo">
        update answer_info set is_delete = 1 where answer_id = #{answerId};
    </update>
</mapper>